// Brand colors
$blue: #5E6AE4;
$blue-dark: #080067;
$blue-dashboard: #3C3C55;
$cyan: #0F7BC3;
$green: #17883F;

// Bulma global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;
$link: $blue;

// Bulma layout variables
$footer-background-color: #fff;
$footer-padding: 3rem 1.5rem;

// Bulma element variabls
$box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.1);

// Bulma component variables
$navbar-box-shadow-size: 0 0 6px;
$navbar-box-shadow-color: hsla(0, 0%, 0%, 0.2);